/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */

body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}
section {
    max-width: 600px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:1rem;
}
.text {
    max-width: 600px;
    margin: 0 0 35px 0;
}
header {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
}
nav ul li {
    margin: 0;
    margin-left: 1rem;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/

#cougar {
    background: #FFBD82;
    color: #000;
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#lion {
    background: #FFD5AE;
    color: #000;
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#tiger {
    background: #B26219;
    color: #fff;
    padding-top: 1.5rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

footer {
    background: #000;

}

/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
    text-decoration: none;
}
